### Exploratory Data Analysis - EDA

Following steps should be applied on your project datasets.

1. Read data using pandas
2. Describe your data basically. 
3. Find duplicated rows and drop them.
4. Find the Null & Missing values.
5. Replace the Null & Missing values using two different method.
6. Find outliers
7. Replace outliers using two different method
8. Export your data as ...

In [2]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv("iBeacon_RSSI_Labeled.csv")
data

,location,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,O02,10-18-2016 11:15:21,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
1,P01,10-18-2016 11:15:19,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
2,P01,10-18-2016 11:15:17,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
3,P01,10-18-2016 11:15:15,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
4,P01,10-18-2016 11:15:13,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,I01,4-19-2016 9:37:46,-200,-76,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1416,I01,4-19-2016 9:37:39,-200,-72,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1417,I01,4-19-2016 9:37:36,-200,-67,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1418,I01,4-19-2016 9:37:26,-200,-79,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1419,I01,4-19-2016 9:37:23,-200,-75,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200

In [7]:
data.shape

(1420, 15)

In [9]:
data.drop_duplicates()
data.shape

(1420, 15)

 There is no duplicate data beacuse of date column